{
    FullCustomized =     (
        "com.apple.system.screencapture",
        "com.apple.system.night-shift",
        "com.apple.system.group.keyboard-brightness",
        NSTouchBarItemIdentifierFlexibleSpace,
        NSTouchBarItemIdentifierFlexibleSpace,
        "com.apple.system.group.brightness",
        "com.apple.system.media-play-pause",
        "com.apple.system.group.volume"
    );
}
